# Ignore all CSV files
*.csv

# Allow specific CSV files to be tracked
!logistic_regression_optimization_optimization_trials.csv
!random_forest_optimization_optimization_trials.csv
!xgboost_optimization_optimization_trials.csv

# Ignore common files and directories
__pycache__/
*.pyc
.DS_Store
.env
venv/
# *.log

lastrun.md
record.md
old_evaluation.py

data
models*.pkl
models/best_model_random forest.pkl
data/processed/data_part1.csv
data/processed/data_part2.csv
data/processed/val_data.csv
data/processed/test_data.csv
models/best_model_xgboost.pkl
models/best_model_random forest(tuned).pkl
models/best_model_naive bayes.pkl
models/best_model_random forest (tuned).pkl
models/transformers/scaler.pkl
models/transformers/categories.pkl
12_dec_optimization.db
sepsis_prediction_optimization.db
checkpoints_old/optuna_studies.pkl
checkpoints_old/preprocessed_data.pkl
checkpoints_old/resampled_data.pkl
checkpoints_old/trained_models.pkl
docs/Overview.md
sepsis_prediction_optimization_20241213_210538.db

checkpoints
combined_code.md
combined_code.md
combine.py
combined_code.md
